kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ stgclassName }}
provisioner: kubernetes.io/{{ storageType }}
reclaimPolicy: {{ reclaimPolicy }}
allowVolumeExpansion: {{ volExpansion }}
mountOptions:
  - dir_mode=0777
  - file_mode=0777
  - uid=0
  - gid=0
parameters:
  skuName: {{ redundancyType }}
